---
---

@import 'variables';
@import 'tutorial-preview';
@import 'tutorial-content';

* {
    font-family: 'Roboto';
}

body {
    margin: 0;
}


@media only screen and (min-width: 600px) {
    body {
        margin: auto;
    }
    .project {
        .information, .step {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: $gap;
        }    
    }
}

.img-resp {
    width: 100%;
    height: auto;
}

p, ol, ul, h1, h2, h3, h4, h5 {
    color: #555;
}

p, ol, ul {
    font-size: 20px;
    font-weight: 300;
}

.videoWrapper {
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.main-content {
    padding: 10px;
    max-width: $max-width;
    margin: auto;
}

.project {

    .content {
        padding: 40px;
    }
    .title {
        .id {
            font-weight: 100;
        }
        text-align: center;
        width: 100%;
        padding: 20px 0;
        font-size: 40pt;
    }


    .information {
        // background-color: #eee;

        .left {
            padding: 0 40px;
        }

        .right {
            padding: 0 40px;
            background-color: $light;
            color: $dark;
        }

        .info ul {
            display: flex;
            flex-direction: column;
            padding: 0;
            justify-content: space-between;
            height: 100%;
            align-items: stretch;

            li  {
                flex-grow: 1;
                margin-bottom: 10px;
                font-size: 20pt;
                background-color: #eee;
                list-style-type: none;
                box-sizing: border-box;
                display: flex;
                padding: 0;
                padding-left: 10px;
                display: flex;
                align-items: center;
                &:last-child {
                    margin-bottom: 0;
                }
                img {
                    height: 40px;
                    padding: 0 10px;
                }
            }
        }

        .tools_container {
            grid-column: 1/-1;
            h1 {
                width: 100%;
                box-sizing: border-box;
            }
            .tools {
                display: flex;
                flex-wrap: wrap;

                span {
                    min-height: 20px;
                    margin: auto auto 10px 0;
                    border-radius: 5px;
                    padding: 5px 10px;
                    border: $dark 1px solid;
                    background: $dark;
                    color: $light;
                }
    
            }
        }
    }

    .step { 
        padding-top: 40px;
        .title {
            grid-column: 1 / -1;
            text-align: left;
            font-size: 26pt;
            padding: 0;
            span {
                font-weight: 300;
            }
        }
    
        .info {
            padding: $gap;
        }
    
    }

    .contributors {
        padding: 20px;
        background-color: $light;
        font-size: 70%;  
    }
}

.home {
   display: grid;
   grid-template-rows: 100px auto auto;

   .header {
       .content {
            max-width: $max-width;
            display: flex;
            justify-content: space-between;
            align-content: center;
            padding: 0 40px;
            margin: auto;
            height: 100%;
        }
       background-color: $dark;
      
       a {
            color: $light;
            text-decoration: none;
            margin: auto 0;
        }

        .title {
            font-size: 15pt;
            color: $light;
            font-weight: bold;

            .beta {
                font-weight: 100;
            }
        }

        .generator {
            border: white solid 1px;
            padding: 10px 20px;
            border-radius: 5px;
        }

   }
 

   .footer {
        padding: 30px 100px;
        background-color: $dark;

        .content {
            margin: auto;
            max-width: $max-width;
            p {
                color: $light;           
                font-size: 10pt;
           }
    
           p.fabkit {
               font-size: 14pt;
    
           }    
        }
   }
}