<h1 class="info-title">
    <span class="id"> {{ include.tutorial.num }}</span>
    <span class="title"> {{ include.tutorial.title }}</span>
    <img src="/assets/icon/topics/{{include.tutorial.topic}}.svg" alt="{{ include.tutorial.topic }}">
</h1>
<img src="{{include.tutorial.image}}" alt="">

<div class="tutorial-info">
    <p class="title">level</p>
    <div class="spacer"></div>
    {% for i in (1..include.tutorial.level) %}
    <img class="star" src="/assets/icon/star/grey-star.svg" alt="">
    {% endfor %}        
</div>
<div class="tutorial-info">
    <p class="title">skills</p>
    <div class="spacer"></div>
    {% for skill in include.tutorial..skills %}
    <img src="/assets/icon/skills/{{skill}}.svg" alt="">
    {% endfor %}        
</div>
<div class="tutorial-info">
    <p class="title">time</p>
    <div class="spacer"></div>
    <p class="time">{{include.tutorial..time | divided_by: 60 }} hours, {{include.tutorial..time | modulo: 60 }} min </p>
</div>
<div class="tutorial-info">
    <p class="title"> machines</p>
    <div class="spacer"></div>
    {% for machine in include.tutorial..machines %}
    <img src="/assets/icon/machines/{{machine}}.svg" alt="">
    {% endfor %}        
</div>
