@import 'variables';

.tutorial-content {
    .step {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: $gap;
        padding: 30px;
    }

    @media screen and (max-width: 600px)  {
        .step {
            grid-template-columns: 1fr;
        }
    }
}