@import 'variables';

.tutorial-info {
    background-color: $light;
    display: flex;
    align-items: center;
    * {
        font-size: 12pt;
    }
    .title {
        text-transform: uppercase;
        padding: 0;
        padding-left: 8px;
        margin:0;
        font-weight: bold;
    }
    img {
        grid-area: img;
        height: 35px;
        width: 35px !important;
        padding-right: 10px;
        &.star {
            height: 25px;
        }
    }

    .time {
        padding: 5px 20px;
        margin-right: 10px;
        border: solid 1px black;
        border-radius: 3px;
    }
    .spacer {
        flex-grow: 1;
    }
 }

.tutorial-card {
    color: black;
    padding: 20px;
    display: grid;
    grid-gap: 10px;
    &> img {
        width: 100%;
        grid-area: img;

    }
    h1 {
        padding: 0;
        margin: 0;
    }
    h1.info-title {
        grid-area: title;
        display: grid;
        grid-template-columns: auto 2fr auto;
        grid-gap: 5px;
        align-items: center;
        .id {
            font-weight: 100;
            padding: 0;
        }

       .title {
            font-weight: 800;
            font-size: 20pt;
            padding: 0;
            text-align: center;
        }

        img {
            height: 50px;
            padding: 0;
        }
    }
}


.tutorial {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: $gap;

    a.card {
        text-decoration: none;
        color: black;
        border-radius: 10px;
        border: solid #ccc 1px;
        display: grid;
        grid-template-rows: auto auto repeat(4, 60px);
        grid-template-areas: 
        "title"
        "img"
        "."
        "."
        "."
        "."
    } 
}

.tutorial-description {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 50px 1fr 1fr 1fr 1fr;
    grid-template-areas: 
      "title title"
      "img ."
      "img ."
      "img ."
      "img .";
    }

@media screen and (max-width: 600px)  {
    .tutorial-description {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto repeat(4, 60px);
    grid-template-areas: 
        "title"
        "img"
        "."
        "."
        "."
        "."
    }
}
