---
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }}</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:bold,thin,regular,100,200,300,400,500,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/styles.css">
    {% seo %}
</head>
<body>
    {{ content }}
</body>
</html>