---
layout: main
---

<div class="description">
        <h1>Intro</h1>
        <p>FABKIT is a project started by GHL and supported by the fablab network. The main objective is to create a low cost, replicable and “open” fablab to be deployed in refugee camps or developing areas to empower local communities. To support local users, the package will include:

<li> The machines (mainly to be assembled and producible in a Fablab)<li>
<li>The structure (reusable as furniture\enclosure of the machines)</li>
<li>Contents (material that can be used by the instructor and by local trainers):"training of trainers tool box" (with this platform) .</li></p>
        <h1>How to Contribute?</h1>
        <p>Within this section there are different types of educational and training contents. These are followed by a template and some design guidelines to allow an open contribution without losing the continuity of the system. There are:

<li>VADEMECUM: summary tables containing design information about the topic, general rules and best practices.<li>
<li>INTRO AND CHECKLISTS: printable web page that contains: general information and glossary about technology and all step to do to use it or to rely a project: setting of the files, process management interaction between softwares or between machines, safety information.<li>
<li>TUTORIALS: It’s a guide for the construction of a symbolic object explained step by step on a web page, with the goal of learn and apply technical skills (i.e. 3D modeling, lasercutting, reading a sensor, etc.), with different difficulty levels and are target. The output is a “object-excuse”: something fun to make or useful to understand the potential, but not necessary co-designed.<li>
   
Your contribution is welcome, if you have an interesting project document it with our format and send it to ciprianilaura@hotmail.it, we will upload it to the platform. </p>
    </div>

<div class="tutorial">
    {% for tutorial in site.tutorials %}
    <a href="{{ tutorial.url }}" class="tutorial-card card">
        {% include tutorial-card.html tutorial=tutorial%}
    </a>
    {% endfor %}
</div>