---
layout: default
---

<div class="home">
    <div class="header">
        <div class="content">
            <a href="/" class="title">FABKIT <span class="beta">training of trainers</span></a>
            <a href="/generator/" class="generator"> GENERATE </a>        
        </div>
    </div>

    <div class="main-content">
        {{ content }}
    </div>

    <div class="footer">
        <div class="content">
            <p>This site is published under Creative Common Attribution ShareAlike (CC-BY-SA) License. You are free to distribute, remix, tweak, and build upon the content hosted here, even commercially, as long as you credit the original authors and maintain the same license on any modification.</p>
            <p><strong> Fabkit</strong></p>
            <p> Ideation by David Ott with the support of GHL</p> 
            <p><strong>Tot</strong></p>
                <p> Laura Cipriani CDO </p>        
                <p> Luvico Russo CTO </p>        
                <p> with the support of Opendot, 2018 all rights reserved </p>       
                <p></p>  

        </div>
    </div>
</div>